* {	margin: 0px; padding: 0px; }
body{
	font-family: Monospace;
	font-size: 14px;
	text-align: center;
	padding: 50px;
}
table{
	width: 800px;
	margin: 0px auto;
}
th, td{
	padding: 3px				
}
h1{
	color: rgba(8, 37, 6, 0.96);
	margin-bottom: 15px;
}